[autotune_tmc stepper_x]
motor: ldo-42sth48-2504ac
[autotune_tmc stepper_y]
motor: ldo-42sth48-2504ac

#[autotune_tmc stepper_z]
#motor: StepperOnlineZ
#[autotune_tmc stepper_z1]
#motor: StepperOnlineZ
#[autotune_tmc stepper_z2]
#motor: StepperOnlineZ

[autotune_tmc extruder]
motor: moons-cse14hra1l410a

[motor_constants StepperOnlineZ]
# Coil resistance, Ohms
resistance: 2.3
# Coil inductance, Henries
inductance: 0.0044
# Holding torque, Nm
holding_torque: .45
# Nominal rated current, Amps
max_current: 1.5
# Steps per revolution (1.8deg motors use 200, 0.9deg motors use 400)
steps_per_revolution: 200